<div>
  <header><h1>Oceanic Data Explorer</h1>
    <a href="">Home</a>
     <a href="">Ocean Conditions</a>
     <a href="">Endangered Species Conservation Project</a>
    </header>

    <main>
      <div class="filters_section">
        <h1>Filters</h1>

        <div class="filters_container">
          <div class="filter">
            <h3>Region</h3>
            <select name="region_filter" id="region_filter">
              <option value="">a</option>
              <option value="">b</option>
              <option value="">c</option>
              <option value="">d</option>
            </select>
          </div>
          <div class="filter">
            <h3>Species</h3>
            <select name="species_filter" id="species_filter">
              <option value="">a</option>
              <option value="">b</option>
              <option value="">c</option>
              <option value="">d</option>
            </select>
          </div>
          <div class="filter">
            <h3>Conservation Status</h3>
            <select name="conservStatus_filter" id="conservStatus_filter">
              <option value="">a</option>
              <option value="">b</option>
              <option value="">c</option>
              <option value="">d</option>
            </select>
          </div>
          <div class="filter">
            <h3>Water Temperature</h3>
            <input type="text" id="waterTemp_filter">
          </div>
          <div class="filter">
            <h3>pH</h3>
            <input type="text" id="waterPH_filter">
          </div>
          <div class="filter">
            <h3>Polution Levels</h3>
            <input type="text" id="polutionLevel_filter">
          </div>
        </div>
        <button>Search</button>
      </div>

      <div class="dataTable_section">
        <h1>Data Table</h1>
        <table>
          <thead>
            <th>
              <tr>Column 1</tr>
            </th>
            <th>
              <tr>Column 2</tr>
            </th>
            <th>
              <tr>Column 3</tr>
            </th>
            <th>
              <tr>Column 4</tr>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>Data1</td>
              <td>Data2</td>
              <td>Data3</td>
              <td>Data4</td>

            </tr>
            <tr>
              <td>Data1</td>
              <td>Data2</td>
              <td>Data3</td>
              <td>Data4</td>
            </tr>
            <tr>
              <td>Data1</td>
              <td>Data2</td>
              <td>Data3</td>
              <td>Data4</td>
            </tr>
            <tr>
              <td>Data1</td>
              <td>Data2</td>
              <td>Data3</td>
              <td>Data4</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
</div>
