<div>
  <header><h1>Oceanic Data Explorer</h1>
    <a href="">Home</a>
     <a href="">Ocean Conditions</a>
     <a href="">Endangered Species Conservation Project</a>
    </header>

    <main>
      <div class="filters_section">
        <h1>Filters</h1>

        <div class="filters_container">
          <div class="filter">
            <h3>Region</h3>
            <select name="region_filter" id="region_filter" [(ngModel)]="filtros.regiao">
              <option value="Atlântico Norte">Atlântico Norte</option>
              <option value="Atlântico Sul">Atlântico Sul</option>
              <option value="Pacífico Norte">Pacífico Norte</option>
              <option value="Pacífico Sul">Pacífico Sul</option>
              <option value="Índico">Índico</option>
              <option value="Ártico">Ártico</option>
              <option value="Antártico">Antártico</option>
            </select>
          </div>
          <div class="filter">
            <h3>Species</h3>
            <select name="species_filter" id="species_filter" [(ngModel)]="filtros.especie">
              <option value="Baleia-azul">Baleia-azul</option>
              <option value="Tubarão-branco">Tubarão-branco</option>
              <option value="Peixe-palhaço">Peixe-palhaço</option>
              <option value="Tartaruga-verde">Tartaruga-verde</option>
              <option value="Coral">Coral</option>
            </select>
          </div>
          <div class="filter">
            <h3>Conservation Status</h3>
            <select name="conservStatus_filter" id="conservStatus_filter" [(ngModel)]="filtros.statusConservacao">
              <option value="Ameaçada">Ameaçada</option>
              <option value="Vulnerável">Vulnerável</option>
              <option value="Menos preocupante">Menos preocupante</option>
              <option value="Criticamente ameaçado">Criticamente ameaçado</option>
            </select>
          </div>
          <div class="filter">
            <h3>Water Temperature</h3>
            <input type="text" id="waterTemp_filter" [(ngModel)]="filtros.temperaturaAgua">
          </div>
          <div class="filter">
            <h3>pH</h3>
            <input type="text" id="waterPH_filter" [(ngModel)]="filtros.PH" (change)="log($event)">
          </div>
          <div class="filter">
            <h3>Polution Levels</h3>
            <select name="conservStatus_filter" id="conservStatus_filter" [(ngModel)]="filtros.nivelPoluicao" (change)="log($event)">
              <option value="Baixo">Baixo</option>
              <option value="Moderado">Moderado</option>
              <option value="Alto">Alto</option>
            </select>
          </div>
        </div>
        <button (click)="search()">Search</button>
      </div>

      <div class="dataTable_section">
        <h1>Data Table</h1>
        <table id="tableData">
          <thead>
            <th>
              <tr>Região</tr>
            </th>
            <th>
              <tr>Temperatura</tr>
            </th>
            <th>
              <tr>pH</tr>
            </th>
            <th>
              <tr>Poluição</tr>
            </th>
            <th>
              <tr>Espécie - Nome</tr>
            </th>
            <th>
              <tr>Espécie - Status</tr>
            </th>
          </thead>
          <tbody id="tableBody" >
            <tr *ngFor="let item of linhasTable">
              <td>{{item.regiao}}</td>
              <td>{{item.temperatura}}</td>
              <td>{{item.ph}}</td>
              <td>{{item.nivelPoluicao}}</td>
              <td>{{item.especieNome}}</td>
              <td>{{item.especieStatus}}</td>
            </tr>
          </tbody>
        </table>
        <button>Previous</button>
        <button>Next</button>
      </div>
    </main>
</div>
